<ul ngbNav #nav="ngbNav" [(activeId)]="active_tab" class="nav-tabs">
    <li [ngbNavItem]="'1'">
        <button ngbNavLink>Import file</button>
        <ng-template ngbNavContent>
            <form enctype="multipart/form-data">
                <a [href]="link_template">Template</a>
                <input class="btn btn-darkblue py-1 mr-1" #file type="file" multiple />
                <input [hidden]="hasPermission(3)" type="button" class="btn btn-primary mr-1" value="Import" (click)="importfile(file.files)">
            </form>
        </ng-template>
    </li>
    <li [ngbNavItem]="'2'">
        <button ngbNavLink>Two</button>
        <ng-template ngbNavContent>
            <app-control-province></app-control-province> 
        </ng-template>
    </li>
    <li [ngbNavItem]="'3'" *ngIf="tab_3==1">
        <button ngbNavLink>Three</button>
        <ng-template ngbNavContent>
            <app-control-district [province_id]="0" ></app-control-district> 
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active_tab }}</pre>