<section class="content-header" style="display: none;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Monthly Sales Plan</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Monthly Sales Plan</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>{{ 'label.fromdate' | translate }}</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromdate"
                                    ngbDatepicker #d_fromdate="ngbDatepicker" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d_fromdate.toggle()"
                                    type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>{{ 'label.todate' | translate }}</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="todate"
                                    ngbDatepicker #d_todate="ngbDatepicker" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d_todate.toggle()"
                                    type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Province</label>
                            <app-control-province (returnValue)="getProvince($event)"></app-control-province>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1">District</label>
                            <app-control-district [province_id]="province_id"
                                (returnDistrictId)="getDistrict($event)"></app-control-district>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">MasterId</label>
                            <input type="text" class="form-control"
                                placeholder="Please enter a space-separated list of masterids">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Select Id</label>
                            <ng-select [(ngModel)]="selectedCar">
                                <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                            </ng-select>
                            Selected car: {{selectedCar | json}}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Select_Get_object</label>
                            <ng-select [items]="cars" bindLabel="name" placeholder="Select city"
                                [(ngModel)]="selectedCity"></ng-select>
                            Selected city: {{selectedCity | json}}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Multi Select id</label>
                            <ng-select [items]="cars" bindLabel="name" bindValue="id" [multiple]="true"
                                placeholder="Select cities" [(ngModel)]="selectedCityIds">
                            </ng-select>
                            Selected cities: {{selectedCityIds}}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Multi Select object</label>
                            <ng-select [items]="cars" [multiple]="true" bindLabel="name" placeholder="Select cities"
                                [(ngModel)]="selectedCityObj">
                            </ng-select>
                            Selected cities: {{selectedCityObj | json}}
                        </div>
                    </div>

                    <div class="col-sm-2" style="display: none;">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Employee Name</label>
                            <input type="text" class="form-control" placeholder="Employee Name" />
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="modelclose(modal)"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <app-control-province></app-control-province>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>
            <hr />
            
            <!-- /.card-body -->

            <div class="card-footer" runat="server" id="div_footer">
                <a (click)="filter()" class="btn btn-success btn-sm"><i class="fas fa-search"></i> {{ 'label.filter' |
                    translate }}</a>
                <a (click)="export()" class="btn btn-success btn-sm"><i class="fas fa-search"></i> Export</a>
                <a *ngIf="linkdownload != ''" [href]="linkdownload">Download</a>
            </div>
        </div>
        <!-- /.card -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List Items</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Master ID</th>
                                    <th>Description</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of reportdata">
                                <tr>
                                    <td>
                                        <a (click)="viewdetail(item)">
                                            <i *ngIf="item.isdetail ==0" class="fa fa-plus"></i>
                                            <i *ngIf="item.isdetail ==1" class="fas fa-minus"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{item.id}}
                                    </td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        <a (click)="modeldetail(content,item.id)">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <ngb-progressbar [type]="item.progress>30?'msuccess':'danger'" [value]="item.progress" [striped]="true" [animated]="true"><i>{{item.progress}}%</i></ngb-progressbar>
                                    </td>
                                </tr>
                                <tr *ngIf="item.isdetail ==1">
                                    <td colspan="5">
                                        <ul ngbNav #nav="ngbNav" [(activeId)]="item.tabselect" class="nav-tabs">
                                            <li *ngIf="item.kpi_1 ==1" [ngbNavItem]="'1'">
                                                <button ngbNavLink>Import file</button>
                                                <ng-template ngbNavContent>
                                                    1111
                                                </ng-template>
                                            </li>
                                            <li *ngIf="item.kpi_2 ==1" [ngbNavItem]="'2'">
                                                <button ngbNavLink>Two</button>
                                                <ng-template ngbNavContent>
                                                    <app-control-province></app-control-province>
                                                </ng-template>
                                            </li>
                                            <li *ngIf="item.kpi_3 ==1" [ngbNavItem]="'3'">
                                                <button ngbNavLink>Three</button>
                                                <ng-template ngbNavContent>
                                                    <app-control-district [province_id]="0"></app-control-district>
                                                </ng-template>
                                            </li>
                                        </ul>
                                        <div [ngbNavOutlet]="nav"></div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div class="modal fade" id="modal-xl" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title_model_w">Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-between" style="display: block; text-align: center;">
                <img src="https://uat-idata.mmvietnam.com/Images/loading.gif" style="width: 400px;" />
                <button type="button" class="btn btn-primary">Save changes</button>--%>
            </div>
        </div>
    </div>
</div>