.bg-login {
    position: relative;
    width: 100%;
    height: 100vh;
    background: cadetblue;
}

.fr-login {
    width: 380px;
    max-width: 400rem;
    height: 400px;
    margin: 0 auto;
    padding-top: 8rem;
    z-index: 1;
    text-align: center
}

.form-control {
    width: 100%;
    margin: .5rem 0 1rem 0;
    height: 40px;    
    color: #7012d2;
    font-size: .875rem;
    border: none;
    border-radius: 4px;
}

.btn-login {
    background: #E51636;
    width: 180px;
    color: rgba(255, 255, 255, 1);
    height: 40px;
    border-radius: 20px;
}

.btn-login:hover {
    background: #CC1330;
    color: rgba(255, 255, 255, 1);
}

input::placeholder {
    color: #DF657A;
}
 