<ng-select name="province" [multiple]="false" (change)="changeProvince()" [(ngModel)]="_province_id">
  <ng-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</ng-option>
</ng-select>
