<ng-select name="district" [multiple]="false" (change)="changeDistrict()" [(ngModel)]="_district_id">
    <ng-option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</ng-option>
  </ng-select>

